@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
  /* margin: 0 10px 0 10px; */
  font-family: "Nanum Gothic", sans-serif;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  border: 0 none;
  list-style: none;
}
