button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  border: 0 none;
  list-style: none;
}
